{% include "frontend/header.twig" %}

      <div class="container">
        
        <h1 class="pt-4 pb-4">{{ trans('manager.advertisements.add') | capitalize }}</h1>

<div class="row mb-4">

{% include "manager/manager-menu.twig" %}

</div>

<div class="row">
       {% include "backend/alert.twig" %} 

 </div>

<div class="row">
<div class="col-md-6">

<div class="card mb-3">
	<div class="card-body">

<form name="advertentie" action="{{url}}/manager/add-advertisement" method="POST" id="ajax-form">
 {{ csrf() | raw  }}

<div class="row form-group p-2">
  <label class="form-label col-md-3">{{ trans('manager.advertisements.name') | capitalize }}</label>
 <div class="col-md-9">
  <input class="form-control" type="text" name="naam" value="" placeholder="vul een naam in ..">
</div>
</div>

<div class="row form-group p-2">
  <label class="form-label col-md-3">{{ trans('manager.advertisements.title') | capitalize }}</label>
 <div class="col-md-9">
  <input class="form-control" type="text" name="titel" value="" placeholder="vul een titel in ..">
</div>
</div>

<div class="row form-group p-2">
  <label class="form-label col-md-3">{{ trans('manager.advertisements.description') | capitalize }}</label>
 <div class="col-md-9">
  <textarea class="form-control" name="omschrijving" rows="5" cols="60" placeholder="vul een omschrijving in .."></textarea>
</div>
</div>

<div class="row form-group p-2">
  <label class="form-label col-md-3">Link</label>
 <div class="col-md-9">
  <input class="form-control" type="text" name="link" value="" placeholder="vul een link in ..">
</div>
</div>

<div class="row form-group p-2">
  <label class="form-label col-md-3">Code</label>
   <div class="col-md-9">
  <textarea class="form-control" name="code" rows="5" cols="60" placeholder="vul code in .."></textarea>
</div>
</div>

<div class="row form-group p-2">
  <label class="form-label col-md-3">{{ trans('manager.advertisements.kind') | capitalize }}</label>
 <div class="col-md-9">
  <select name="soort" class="form-control">
  <option value="banner">Banner</option>
  <option value="text">Text</option>
  <option value="script">Javascript code</option>  
  </select>
</div>
</div>

<div class="row form-group p-2">
 <label class="form-label col-md-3">{{ trans('manager.advertisement.language') | capitalize }}</label>
  <div class="col-md-9">
<select class="form-control" name="language">
{% for language in languages %}
  <option value="{{language}}">{{ language | upper }}</option>
{% endfor  %}
</select>
</div>
</div>

<div class="row form-group p-2">
  <label class="form-label col-md-3">{{ trans('manager.advertisements.active') | capitalize }}</label>
 <div class="col-md-9">
<div class="form-check form-switch">
  <input class="form-check-input" id="activeren" name="activeren" type="checkbox" value="a">
   </div>
</div>
</div>
  <button class="btn btn-primary" type="submit" id="submit-ajax">{{ trans('manager.advertisements.add') | capitalize }}</button>
</form>

</div>
</div>

</div>

</div>
</div>


{% include "frontend/footer.twig" %}