{% include "frontend/header.twig" %}



<div class="container">        
        <h1 class="py-4">{{ trans('manager.chat.overview') | capitalize }}</h1>

<div class="row mb-4">

        
{% include "manager/manager-menu.twig" %}         
</div>

<div class="row">
       {% include "backend/alert.twig" %} 

<div class="card mb-3">
<div class="card-body">
     <table class="table">
     <thead>
     <tr>
            <th>#</th>
            <th>{{ trans('manager.chat.ipaddress') }}</th>
            <th>{{ trans('manager.chat.name') }}</th> 
            <th>{{ trans('manager.chat.avatar') }}</th> 
            <th>{{ trans('manager.chat.total_messages') }}</th>  
            <th>{{ trans('manager.chat.date') }}</th>
            <th>{{ trans('manager.chat.manage')  }}</th>  
     </tr>
     </thead>

     <tbody>
     {% for chat in chats %}
     <tr>
     <td>..</td>
     <td>{{chat.ipadres}}</td>
     <td>{{chat.naam}}</td>
     <td>{{chat.avatar}}</td> 
     <td class="fw-bold text-center">({{chat.berichten}})</td>
     <td>{{chat.datum}}</td>
     <td class="text-right"><a href="{{url}}/manager/view-chat/{{chat.id}}/{{chat.session}}/" class="btn btn-primary btn-sm">{{ trans('manager.chat.view') }}</a> <a href="{{url}}/delete-chat/{{chat.id}}/{{chat.session}}/" class="btn btn-danger btn-sm" data-url="{{url}}/delete-chat/{{chat.id}}/{{chat.session}}/">{{ trans('manager.chat.delete') }}</a></td>
     </tr>
     {% endfor %}
     </tbody>
     </table>
     </div>
     </div>
</div><!-- /. row -->

      </div>




{% include "frontend/footer.twig" %}   