<div class="col">
<nav class="navbar navbar-expand-lg navbar-light mb-4 rounded bg-hb-orange">
  <div class="container-fluid">
    <i class="fas fa-bar-chart-steps text-primary p-2"></i> <a class="navbar-brand" href="#">{{manager_heading|default('Manager Menu')}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{url}}/manager/dashboard">{{ trans('manager.menu.dashboard') | capitalize }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url}}/manager/view-logging">{{ trans('manager.menu.view_logging') | capitalize }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url}}/manager/chat-overview">{{ trans('manager.menu.chat_overview') | capitalize }}</a>
        </li>        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ trans('manager.menu.manager_overview') | capitalize }}
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{{url}}/manager/todo-overview">Todo overzicht</a></li>
            <li><a class="dropdown-item" href="{{url}}/manager/support-overzicht">Support overzicht</a></li>
            <li><a class="dropdown-item" href="{{url}}/manager/support-toevoegen">Support toevoegen</a></li>    
             <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/links-overview">Links overview</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/settings-overview">Settings overview</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/advertenties-overview">Advertenties overzicht</a></li>
            <li><a class="dropdown-item" href="{{url}}/manager/advertentie-toevoegen">Advertentie toevoegen</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/gebruikers-overzicht">Gebruikers overzicht</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/pagina-overzicht">Pagina overzicht</a></li>
            <li><a class="dropdown-item" href="{{url}}/manager/pagina-toevoegen">Pagina toevoegen</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/category-overview">Categorie overzicht</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/templates-overzicht">Templates overzicht</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/media-overview">{{ trans('manager.menu.media') | capitalize }} {{ trans('manager.menu.overview') }}</a></li>   
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/blog-overzicht">Blog overzicht</a></li>   
            <li><a class="dropdown-item" href="{{url}}/manager/blog-toevoegen">Blog toevoegen</a></li>   
  
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>