{% include "frontend/header.twig" %}

<div class="container">        
<h1 class="pt-4 pb-4">Pagina bewerken</h1>


{% include "manager/manager-menu.twig" %}

<div class="row">
       {% include "backend/alert.twig" %} 
       
<div class="col-12">
<div class="card mb-3">
<div class="card-body">
<form name="todo" action="/manager/pagina-bewerken/{{pagina.id}}/" method="POST" id="ajax-form" data-reload="true">

  {{csrf() | raw}}
<!-- Text input -->
<div class="mb-3">
  <label for="text-input" class="form-label">Naam</label>
  <input class="form-control" type="text" name="ap-name" value="{{pagina.name}}" placeholder="vul de naam van de pagina in!">
</div>
<!-- Text input -->
<div class="mb-3">
  <label for="text-input" class="form-label">Titel</label>
  <input class="form-control" type="text" name="ap-titel" value="{{pagina.titel}}" placeholder="vul de titel van de pagina in!">
</div>
<!-- Text input -->
<div class="mb-3">
  <label for="text-input" class="form-label">Description</label>
  <input class="form-control" type="text" name="ap-description" value="{{pagina.description}}" placeholder="vul de description van de pagina in!">
</div>
<!-- Text input -->
<div class="mb-3">
  <label for="text-input" class="form-label">Keywords</label>
  <input class="form-control" type="text" name="ap-keywords" value="{{pagina.keywords}}" placeholder="vul de keywords van de pagina in!">
</div>
<div class="row">
  <div class="col">
<!-- Text input -->
<div class="mb-3">
  <label for="text-input" class="form-label">Template</label>
  <select name="ap-template" class="form-control">
  {% for template in templates %}
  <option value="{{template}}"{% if pagina.template == template %} selected{% endif %}>{{template}}</option>
  {% endfor %}
  </select>
</div>
</div>
<div class="col">
<div class="mb-3">
  <label for="text-input" class="form-label">Language</label>
  <select name="ap-language" class="form-control">
  {% for language in languages %}
  <option value="{{language}}"{% if pagina.language == language %} selected{%endif%}>{{language}}</option>
  {% endfor %}
  </select>
</div>
</div>
</div>
<!-- Text input -->
<div class="mb-3 row">
<div class="col-md-6">
  <label for="text-input" class="form-label">Publish</label>
<!-- Default switch -->
<div class="form-check form-switch">
  <input class="form-check-input" id="publish" name="ap-page-publish" type="checkbox" value="y"{% if pagina.publish == "y" %} checked{% endif %}>
  <label class="form-check-label" for="publish">Publiceren</label>
   </div>
<!-- Default switch -->
<div class="form-check form-switch">
  <input class="form-check-input" id="links" name="ap-page-links" type="checkbox" value="y" checked>
  <label class="form-check-label" for="links">Interne links</label>
   </div>
</div>
<div class="col-md-6">
  <label for="text-input" class="form-label">Publish datum</label>
  <input class="form-control" type="text" name="publish_date" value="{{pagina.publish_date}}" placeholder="date of publish if publish is yes" data-toggle="datepicker" data-datepicker-options='{"altInput": true, "altFormat": "F j, Y", "dateFormat": "Y-m-d"}'>
</div>
</div>

<!-- Textarea -->
<div class="mb-3">
  <label for="textarea-input" class="form-label">Content van de pagina</label>
  <textarea class="form-control" id="textarea-input" name="ap-content" rows="15" placeholder="vul de content van de pagina in!">{{pagina.content}}</textarea>
</div>

  <button class="btn btn-primary" type="submit" id="submit-ajax">Pagina bewerken</button>
</form>
</div>
</div>

</div><!-- /.col -->
</div><!-- /. row -->
</form>

      </div>



{% include "frontend/footer.twig" %}
