{% include "frontend/header.twig" %}

<div class="container">
        <h1 class="pt-4 pb-4">Manager media overzicht</h1>

{% include "manager/manager-menu.twig" %} 

<div class="row">

       {% include "backend/alert.twig" %} 
           
           <!-- Photos / video-->
            <section class="card card-body border-0 shadow-sm p-4 mb-4" id="photos">
              <div class="d-flex align-items-center justify-content-between mb-4 pb-2">
              <h2 class="h4 mb-4"><i class="fi-image text-primary fs-5 mt-n1 me-2"></i>Upload Media</h2>
            </div>

              <div class="alert alert-info mb-4" role="alert">
                <div class="d-flex"><i class="fi-alert-circle me-2 me-sm-3"></i>
                  <p class="fs-sm mb-1">De maximum grootte van een foto is 8 MB. Formaten: jpeg, jpg, png. Eerste foto is de hoofdfoto.<br>De maximum video grootte is 10 MB. Formaten: mp4, mov.</p>
                </div>
              </div>

             {{ csrf() | raw }}
              <input class="file-uploader file-uploader-grid" type="file" name="file" id="fileuploader" data-url="/manager/upload-media" id="fileuploader" multiple data-max-file-size="10MB" accept="image/png, image/jpeg, video/mp4, video/mov" data-label-idle="&lt;div class=&quot;btn btn-primary mb-3&quot;&gt;&lt;i class=&quot;fi-cloud-upload me-1&quot;&gt;&lt;/i&gt;Upload photos / video&lt;/div&gt;&lt;br&gt;of sleep de bestanden"  enctype="multipart/form-data">
            </section>
</div>
<div class="row">
<div class="card mb-3">
<div class="card-body">
<table class="table table-hover">
<tr>
<th>#</th>
<th>bestand</th>
<th>extentie</th>
<th>link</th>
<th>alt text</th>
<th>grootte</th>
<th>datum</th>
<th class="text-center">beheer</th>
</tr>

{% if media|length < 1 %}
<tr>
		<td colspan="7" class="text-center">Er is nog geen media items beschikbaar</td>
</tr>
{% endif %}

{% if media|length > 0 %}
{% for medium in media %}
<tr>
<td>..</td>
<td>{{medium.naam|capitalize}}</td>
<td>{{medium.extentie}}</td>
<td class="text-center"><a href="/uploads/{{medium.naam}}" target="_blank">link</a></td>
<td class="text-center"><input type="text" class="form-control" name="alt-text" placeholder="..image alt text.." data-id="{{medium.id}}" value="{{medium.alt}}"></td>
<td>{{medium.size|round(2)}} Kb</td>
<td>{{medium.datum}}</td>
<td class="text-center"><a href="/manager/verwijder-media/{{medium.id}}/" class="btn btn-danger btn-sm" data-url="/manager/verwijder-media/{{medium.id}}/">verwijder</a></td>

</tr>

{% endfor %}
{% endif %}


</table>
</div>
</div>
</div><!-- /. row -->

      </div>
      </div>



{% include "frontend/footer.twig" %}
