<div class="col">
<nav class="navbar navbar-expand-lg navbar-light mb-4 rounded bg-hb-orange">
  <div class="container-fluid">
    <i class="fas fa-bar-chart-steps text-primary p-2"></i> <a class="navbar-brand" href="#">{{manager_heading|default('Manager Menu')}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{url}}/manager/dashboard">{{ trans('manager.menu.dashboard') | capitalize }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url}}/manager/view-logging">{{ trans('manager.menu.view_logging') | capitalize }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url}}/manager/chat-overview">{{ trans('manager.menu.chat_overview') | capitalize }}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ trans('manager.menu.manager_overview') | capitalize }}
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{{url}}/manager/todo-overview">{{ trans('manager.menu.todo') | capitalize }} {{ trans('manager.menu.overview')}}</a></li>
            <li><a class="dropdown-item" href="{{url}}/manager/support-overview">{{ trans('manager.menu.support') | capitalize }} {{ trans('manager.menu.overview')}}</a></li>
            <li><a class="dropdown-item" href="{{url}}/manager/add-support">{{ trans('manager.menu.add_support') | capitalize }} </a></li>
             <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/links-overview">{{ trans('manager.menu.links') | capitalize }} {{ trans('manager.menu.overview')}}</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/settings-overview">{{ trans('manager.menu.settings') | capitalize }} {{ trans('manager.menu.overview')}}</a></li>
            <div class="dropdown-divider"></div>
            <h6 class="px-3">Advertisement</h6>
            <li><a class="dropdown-item" href="{{url}}/manager/advertisements-overview">{{ trans('manager.menu.advertisements') | capitalize }} {{ trans('manager.menu.overview')}}</a></li>
            <li><a class="dropdown-item" href="{{url}}/manager/add-advertisement">{{ trans('manager.menu.add_advertisement') | capitalize }}</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/users-overview">{{ trans('manager.menu.users') | capitalize }} {{ trans('manager.menu.overview')}}</a></li>
            <div class="dropdown-divider"></div>
            <h6 class="px-3">Pages</h6>
            <li><a class="dropdown-item" href="{{url}}/manager/pages-overview">{{ trans('manager.menu.pages') | capitalize }} {{ trans('manager.menu.overview')}}</a></li>
            <li><a class="dropdown-item" href="{{url}}/manager/page-add">{{ trans('manager.menu.add_page') | capitalize }}</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/category-overview">{{ trans('manager.menu.category') | capitalize }} {{ trans('manager.menu.overview')}}</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/templates-overview">{{ trans('manager.menu.templates') | capitalize }} {{ trans('manager.menu.overview')}}</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{url}}/manager/media-overview">{{ trans('manager.menu.media') | capitalize }} {{ trans('manager.menu.overview') }}</a></li>
            <div class="dropdown-divider"></div>
            <h6 class="px-3">Weblog</h6>
            <li><a class="dropdown-item" href="{{url}}/manager/blogs-overview">{{ trans('manager.menu.blog') | capitalize }} {{ trans('manager.menu.overview')}}</a></li>
            <li><a class="dropdown-item" href="{{url}}/manager/blog-add">{{ trans('manager.menu.add_blog') | capitalize }}</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>