{% include "frontend/header.twig" %}

<div class="container">        
        <h1 class="py-4">{{ trans('manager.chat.overview') | capitalize }}</h1>

<div class="row mb-4">

{% include "manager/manager-menu.twig" %}         
</div>

{% include "backend/alert.twig" %} 

<div class="row">


  

     <div class="col-md-3 col-sm-12">
     
     <dl>
     <dt>{{ trans('manager.chat.ipaddress') | capitalize }}:</dt><dd>{{chat.ipaddress}}</dd>
     <dt>{{ trans('manager.chat.name') | capitalize }}:</dt><dd>{{chat.name}}</dd>
     <dt>{{ trans('manager.chat.avatar') | capitalize }}:</dt><dd>{{chat.avatar}}</dd> 
     <dt>{{ trans('manager.chat.email') | capitalize }}:</dt><dd>{{chat.email}}</dd>
     <dt>{{ trans('manager.chat.date') | capitalize }}:</dt><dd>{{chat.date}}</dd>
     </dl>

     </div>

     <div class="col-md-9 col-sm-12">
      <div class="card">
        <div class="card-body">


<form name="chat" method="POST" action="{{url}}/manager/add-chat-message">

{{ csrf() | raw }}

<input type="hidden" name="id" value="{{id}}">
<input type="hidden" name="session" value="{{session}}">

<div class="input-group"><input type="text" name="message" class="form-control" value="" placeholder="{{ trans('manager.chat.enter_message') }}"><button class="btn btn-primary">{{ trans('manager.chat.send') }}</button></div>
</form>
<div class="col-md-12 mt-4">
<h4>{{ trans('manager.chat.chat_overview') | capitalize }} {{session}}-{{id}}:</h4>
<ul class="list-unstyled">
{% for message in messages %}

<li class="mb-4 p-2{% if message.owner == "visitor" %} bg-info text-light{% endif %}{% if message.owner == "beheerder" %} bg-secondary text-light{% endif %}" style="height: 60px;">{{message.tijd}} {{message.message}} {{ trans('manager.chat.by') }} {{message.owner}}</li>
{% endfor %}
</ul>
</div>
</div>
</div> 
</div><!-- /. col-md-6 -->
</div><!-- /. row -->


      </div>

{% include "frontend/footer.twig" %}       