{% include "frontend/header.twig" %}



<div class="container">        
        <h1 class="py-4">{{ trans('manager.chat.overview') | capitalize }}</h1>

<div class="row mb-4">

        
{% include "manager/manager-menu.twig" %}         
</div>

{% include "backend/alert.twig" %}

<div class="row">
  

<div class="card mb-3">
<div class="card-body">
     <table class="table table-hover">
     <thead>
     <tr>
            <th>#</th>
            <th class="text-center">{{ trans('manager.chat.avatar') }}</th> 
            <th>{{ trans('manager.chat.ipaddress') }}</th>
            <th>{{ trans('manager.chat.name') }}</th> 
            <th>{{ trans('manager.chat.total_messages') }}</th>  
            <th>{{ trans('manager.chat.date') }}</th>
            <th>{{ trans('manager.chat.manage')  }}</th>  
     </tr>
     </thead>

     <tbody>
     {% if chats | length < 1 %}
     <tr>
       <td colspan="7" class="text-center">{{ trans('manager.chat.no_chats') | capitalize }}</td>
     </tr>
     {% endif %}

     {% for chat in chats %}
     <tr>
     <td>..</td>
     <td class="text-center"><img src="{{url}}/{{chat.avatar}}" class="img-thumbnail" width="48" height="48"></td> 
     <td>{{chat.ipaddress}}</td>
     <td>{{chat.name}}</td>
     <td class="fw-bold text-center">({{chat.berichten}})</td>
     <td>{{chat.datum}}</td>
     <td class="text-right"><a href="{{url}}/manager/view-chat/{{chat.id}}/{{chat.session}}/" class="btn btn-primary btn-sm">{{ trans('manager.chat.view') }}</a> <a href="{{url}}/manager/delete-chat/{{chat.id}}/{{chat.session}}/" class="btn btn-danger btn-sm" data-url="{{url}}/manager/delete-chat/{{chat.id}}/{{chat.session}}/" data-reload="true">{{ trans('manager.chat.delete') }}</a></td>
     </tr>
     {% endfor %}
     </tbody>
     </table>
     </div>
     </div>
</div><!-- /. row -->

      </div>




{% include "frontend/footer.twig" %}   