{% include "frontend/header.twig" %}


<div class="container">
<h1 class="pt-4 pb-4">Manager dashboard</h1>

{% include "manager/manager-menu.twig" %}


<div class="row">

<div class="col">

<div class="card">
<div class="card-body">

<h2>Website searches</h2>
<ul class="list-unstyled list-horizontal">
{% for search in searches %}
<li class="badge text-bg-secondary my-2" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-title="Search {{search.query}}" data-bs-content="Referer: {{search.referer}} Date: {{search.date}}"><span class="h6">{{search.query}}</span></li>
{% endfor %}
</ul>

</div>

</div>	

</div>

<div class="col">

<div class="row">
<div class="col-md-6">
<div class="card bg-danger mb-3 text-white">
<div class="card-header">Total users</div>
<div class="card-body text-center">
            <span class="display-3">{{totals.total_users}}</span>
    </div>
</div>
</div>
<div class="col-md-6">
<div class="card bg-danger mb-3 text-white">
<div class="card-header">Users incomplete</div>
<div class="card-body text-center">
            <span class="display-3">{{totals.total_incomplete}}</span>
    </div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="card bg-success mb-3 text-white">
<div class="card-header">Blog comments</div>
<div class="card-body text-center">
            <span class="display-3">{{totals.total_blog_comments}}</span>
    </div>
</div>
</div>
<div class="col-md-6">
<div class="card bg-success mb-3 text-white">
<div class="card-header">Support comments</div>
<div class="card-body text-center">
            <span class="display-3">{{totals.total_support_comments}}</span>
    </div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="card bg-info mb-3 text-white">
<div class="card-header">Forum topics</div>
<div class="card-body text-center">
            <span class="display-3">{{totals.total_forum}}</span>
    </div>
</div>
</div>
<div class="col-md-6">
<div class="card bg-info mb-3 text-white">
<div class="card-header">Forum replies</div>
<div class="card-body text-center">
            <span class="display-3">{{totals.total_forum_reply}}</span>
    </div>
   </div>
</div>
   </div>
</div>

</div>
</div>

{% include "frontend/footer.twig" %}