{% include "frontend/header.twig" %}



<div class="container">        
        <h1 class="py-4">{{ trans('manager.chat.overview') | capitalize }}</h1>

<div class="row mb-4">
{% include "manager/manager-menu.twig" %}         
</div>

<div class="col-12">
{% include "backend/alert.twig" %}
</div>


<div class="row mb-3">

<div class="col-md-6 col-sm-12">

    {% if comment %}
    <div class="card">
        <div class="card-body">
        <h3>{{ trans('manager.support.comment') | capitalize }}</h3>
        <p>Status: <h5><span class="badge bg-primary">{% if comment.status == "d" %}{{ trans('manager.support.declined') }}{%endif%}{% if comment.status == "s" %}{{ trans('manager.support.spam') }}{%endif%}{% if comment.status == "a" %}{{ trans('manager.support.approved') }}{%endif%}</span></h5></p>
        <dl class="row">
            <dt class="col-md-3 col-sm-12">{{ trans('manager.support.article') | capitalize }}</dt>
            <dd class="col-md-9 col-sm-12">{{ comment.article | capitalize }}</dd>
            <dt class="col-md-3 col-sm-12">{{ trans('manager.support.title') | capitalize }}</dt>
            <dd class="col-md-9 col-sm-12">{{ comment.titel | capitalize }}</dd>
            <dt class="col-md-3 col-sm-12">{{ trans('manager.support.name') | capitalize }}</dt>
            <dd class="col-md-9 col-sm-12">{{ comment.naam | capitalize }}</dd>
            <dt class="col-md-3 col-sm-12">{{ trans('manager.support.ipaddress') | capitalize }}</dt>
            <dd class="col-md-9 col-sm-12">{{ comment.ipadres }}</dd>
            <dt class="col-md-3 col-sm-12">{{ trans('manager.support.email') | capitalize }}</dt>
            <dd class="col-md-9 col-sm-12">{{ comment.email }}</dd>   
            <dt class="col-md-3 col-sm-12">{{ trans('manager.support.comment') | capitalize }}</dt>
            <dd class="col-md-9 col-sm-12">{{ comment.bericht }}</dd>                                 
        </dl>
<div id="action">
<button class="btn btn-success" data-bs-toggle="tooltip" title="Accept comment {{comment.titel}}">{{ trans('manager.support.approve') }}</button>
<button class="btn btn-default" data-bs-toggle="tooltip" title="Decline comment {{comment.titel}}">{{ trans('manager.support.decline') }}</button>
<button class="btn btn-default" data-bs-toggle="tooltip" title="Spam comment {{comment.titel}}">{{ trans('manager.support.spam') }}</button>
<button class="btn btn-danger" data-bs-toggle="tooltip" title="Delete comment {{comment.titel}}">{{ trans('manager.support.delete') }}</button>
          </div>        
   </div>
</div>
{%endif%}

    {% if comment == null %}
    <div class="alert alert-warning"><h4>No such object</h4><p>no comment found with the info you supplied!</p></div>
    {%endif%}

</div>
<div class="col-md-6 col-sm-12">
<div class="callout callout-danger bg-danger bg-opacity-25"><h4>View a comment</h4><p>View a comment and approve, decline or delete the comment.</p></div>

         <h3>{{ trans('manager.support.ipaddress_information') | capitalize }}</h3>
        <dl class="row">
            <dt class="col-md-3 col-sm-12">{{ trans('manager.support.ipaddress') | capitalize }}</dt>
            <dd class="col-md-9 col-sm-12">{{ ipinfo.ip }}</dd>
            <dt class="col-md-3 col-sm-12">{{ trans('manager.support.hostname') | capitalize }}</dt>
            <dd class="col-md-9 col-sm-12">{{ ipinfo.hostname }}</dd>
            <dt class="col-md-3 col-sm-12">{{ trans('manager.support.city') | capitalize }}</dt>
            <dd class="col-md-9 col-sm-12">{{ ipinfo.city | capitalize  }}</dd>
            <dt class="col-md-3 col-sm-12">{{ trans('manager.support.region') | capitalize }}</dt>
            <dd class="col-md-9 col-sm-12">{{ ipinfo.region | capitalize  }}</dd>
            <dt class="col-md-3 col-sm-12">{{ trans('manager.support.country')| capitalize }}</dt>
            <dd class="col-md-9 col-sm-12">{{ ipinfo.country | upper }}</dd>
            <dt class="col-md-3 col-sm-12">{{ trans('manager.support.timezone') | capitalize }}</dt>
            <dd class="col-md-9 col-sm-12">{{ ipinfo.timezone | capitalize }}</dd>   
        </dl>


</div>
</div>

</div>

{% include "frontend/footer.twig" %}  