{% include "frontend/header.twig" %}


<div class="container">

	<h1 class="py-4">{{ trans('manager.links.manager_overview') | capitalize }}</h1>

<div class="row mb-4">
{% include "manager/manager-menu.twig" %}
</div>

{% include "backend/alert.twig" %}

<div class="row">
<div class="col-sm-6">

<div class="card mb-3">
<div class="card-body">
<h2>{{ trans('manager.links.overview') | capitalize }}</h2>

<form name="delete" action="{{url}}/manager/delete-links" method="POST">
	{{ csrf()|raw }}
<table class="table table-hover">
<thead>
   <tr>
   	    <th>#</th>
        <th>{{ trans('manager.links.title') | capitalize }}</th>
        <th>{{ trans('manager.links.url') | capitalize }}</th>
        <th>{{ trans('manager.links.menu') | capitalize }}</th>
   </tr>     
</thead>
<tbody>
{% for link in links %}
<tr>
	<td class="text-center"><div class="form-check">
  <input type="checkbox" class="form-check-input" name="id[]" value="{{link.id}}"></td>
</div></td>
	<td>{{link.title}}</td>
	<td><a href="{{link.url}}" target="_blank" data-bs-toggle="tooltip" title="{{link.title}}">{{link.url}}</a></td>
    <td>{{link.category_name}}</td>
</tr>
{% endfor %}	

</tbody>
</table>
<button class="btn btn-success btn-sm">{{ trans('manager.links.delete') | capitalize }}</button>
</form>
</div>

</div>


</div>

<div class="col-sm-6">

<div class="card mb-3">
<div class="card-body">

<form name="add_link" action="{{url}}/manager/add-link" method="POST" id="ajax-form" data-reload="true">
  {{ csrf() | raw }}

<div class="row mb-3">
  <label for="text-input" class="form-label col-md-3 col-sm-12">{{ trans('manager.links.name') | capitalize }}:</label>
  <div class="col-md-9 col-sm12">
  <input class="form-control" type="text" name="name" value="" placeholder="name of link ..">
    </div>
</div>
<div class="row mb-3">
  <label for="text-input" class="form-label col-md-3 col-sm-12">{{ trans('manager.links.title') | capitalize }}:</label>
    <div class="col-md-9 col-sm12">
  <input class="form-control" type="text" name="title" value="" placeholder="title of link ..">
</div>
</div>
<div class="row mb-3">
  <label for="text-input" class="form-label col-md-3 col-sm-12">{{ trans('manager.links.url') | capitalize }}</label>
    <div class="col-md-9 col-sm12">
  <input class="form-control" type="text" name="url" value="" placeholder="URL of link ..">
</div>
</div>
<div class="row mb-3">
  <label for="text-input" class="form-label col-md-3 col-sm-12">{{ trans('manager.links.menu_place') | capitalize }}</label>
  <div class="col-md-9 col-sm12">
  <select class="form-control" name="category">
{% for categorie in categories %}
<option value="{{categorie.id}}">{{categorie.naam}}</option>
{% endfor %}
</select>
</div>
</div>

  <button class="btn btn-primary" type="submit" id="submit-ajax">{{ trans('manager.links.add') | capitalize }}</button>
</form>

</div>

</div>


</div>


</div>

</div>



{% include "frontend/footer.twig" %}
