{% include "frontend/header.twig" %}

<div class="container">

<h1 class="py-4">{{ trans('manager.todo.edit_todo') | capitalize }}</h1>


{% include "manager/manager-menu.twig" %} 

<div class="col-12">
{% include "backend/alert.twig" %}
</div>

<div class="row">

<div class="col-md-6 col-sm-12">
<div class="card mb-3">
<div class="card-body">

<form name="todo" action="{{url}}/manager/todo-edit/{{todo.id}}/" method="POST" id="ajax-form">
  
  {{ csrf() | raw }}

<div class="row mb-3">
  <label for="text-input" class="form-label col-3">{{ trans('manager.todo.todo') | capitalize }}:</label>
  <div class="col-md-9 col-sm-12">
  <input class="form-control" type="text" name="ap-todo" value="{{todo.todo}}" placeholder="vul het todo item in!">
</div>
</div>

<div class="row mb-3">
  <label for="select-input" class="form-label col-3">{{ trans('manager.todo.category') | capitalize }}:</label>
  <div class="col-md-9 col-sm-12">
  <select class="form-select" id="select-input" name="ap-categorie">
   {% for cat in categorie %}
    <option value="{{cat.id}}"{% if todo.categorie == cat.id %} selected{% endif %}>{{cat.naam}}</option>
  {% endfor %}
  </select>
</div>
</div>

<div class="row mb-3">
  <label for="select-input" class="form-label col-3">{{ trans('manager.todo.status') | capitalize }}:</label>
    <div class="col-md-9 col-sm-12">
  <select class="form-select" id="select-input" name="ap-status">
    <option value="o"{% if todo.status == "o" %} selected{% endif %}>{{ trans('manager.todo.open') | capitalize }}</option>
    <option value="c"{% if todo.status == "c" %} selected{% endif %}>{{ trans('manager.todo.closed') | capitalize }}</option>
  </select>
</div>
</div>

  <button class="btn btn-primary" type="submit" id="submit-ajax">{{ trans('manager.todo.save_changes') | capitalize }}</button>
</form>
</div>
</div>
</form>
</div>
<div class="col-md-6 col-sm-12">
<div class="callout callout-success">
    <h4>Edit Todo</h4>
  
  <p>Edit this todo or change the status of the todo.</p></div>

</div>

      </div>
    </div>



{% include "frontend/footer.twig" %}
