{% include "frontend/header.twig" %}

<div class="container">
<h1 class="pt-4 pb-4">Ask question</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url}}">home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="/forum">forum</a></li>
  </ol>
</nav>

<div class="row">
<div class="col-md-9">

{% include "backend/alert.twig" %}

<div class="card mb-3">
<div class="card-body">
<form name="ask"  method="POST" action="{{url}}/ask-question" id="ajax-form">

{{ csrf() | raw }}

<div class="alert alert-primary">
When posting a new topic, our terms and conditions apply, we may choose not to post topics if they are against the rules. Stick to the net etiquette. For example, do not write in capital letters. Respect everyone on the forum, we've all been beginners! Thank you for using the SeoSite forum.
</div>

<div class="mb-3">
  <label for="title" class="form-label" for="title">Title</label>
  <input type="text" name="title" class="form-control" id="title" placeholder="title of your post ..">
</div>

<div class="mb-3">
	  <label for="category" class="form-label" id="category">Category</label>
<select class="form-select" name="category"  aria-label="category">
  <option selected>Open this select menu</option>
  {% for categorie in categories %}
  <option value="{{categorie.id}}">{{categorie.naam|capitalize}}</option>
  {% endfor %}
</select>
</div>

<div class="mb-3">
  <label for="message" class="form-label" for="message">Message</label>
  <textarea class="form-control" name="message"  id="message" rows="10" placeholder="put the text of your post here .."></textarea>
</div>

<div class="mb-3">
  <label for="tags" class="form-label" for="tags">Tags</label>
  <input type="text" name="tags" class="form-control" id="tags" placeholder="tags of post ..">
</div>

<div class="form-check mb-3">
  <input class="form-check-input" type="checkbox" name="notify" value="y" id="notify">
  <label class="form-check-label" for="notify">
    Notify me on changes or replies
  </label>
</div>

<div class="row mb-3">
  <!-- Basic file uploader -->
<div class="col-md-6 col-sm-12">
<span id="files"><div class="spinner-grow" role="status">
  <span class="visually-hidden">Loading...</span>
</div></span>

</div>
<div class="col-md-6 col-sm-12">
  <label class="form-check-label" for="upload">
    Upload files
  </label>

                            <input type="file" name="file" class="basic-filepond" id="fileuploader" data-url="/topic-upload">
                          </div>
</div>

<div class="form-group row p-2">
                                    <div class="col-lg-6 col-6">
                                        <img src="{{captcha|raw}}" class="rounded" data-bs-toggle="tooltip" data-bs-placement="right" title="{{trans('account.solve_sum_message')|capitalize}}!" width="168" height="37">
                                    </div>
                                    <div class="col-lg-6 col-6">
                                        <input type="text" id="captcha" class="form-control" name="captcha" placeholder="{{trans('account.solve_sum')|capitalize}}..">
                                    </div>
                                </div>

<button class="btn btn-primary" type="submit" id="submit-ajax">post message</button>

</form>

</div>
</div>

</div>
<div class="col-md-3">&nbsp;</div>
</div>
</div>

</div>
{% include "frontend/footer.twig" %}