
<!DOCTYPE html>
<html lang="{{locale|default('en')}}">
<head>
<style>
/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('{{url}}/fonts/oswald-v49-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{url}}/fonts/oswald-v49-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{sitename}}: {{trans('login.title')}}</title>
    <meta name="description" content="{{trans('login.description')}}">
    <meta name="keywords" content="{{trans('login.keywords')}}">
<link rel="shortcut icon" href="{{url}}/images/icon-cms-hostingbe.png" type="image/x-icon">
<link rel="icon" href="{{url}}/images/icon-cms-hostingbe.png" type="image/x-icon">
<link rel="preload" href="{{url}}/fonts/oswald-v49-latin-regular.woff2" as="font" type="font/woff2"  crossorigin />
<link rel="preload" href="{{url}}/fonts/oswald-v49-latin-regular.woff" as="font" type="font/woff"  crossorigin />
<link rel="preload" href="{{url}}/cms/css/bootstrap.css" as="style" />

<link rel="stylesheet" href="{{url}}/cms/css/bootstrap.css">
<link rel="stylesheet" href="{{url}}/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="{{url}}/cms/css/pages/login.css">
</head>
<body>

<div id="login_screen" class="container-fluid d-flex">
    <div class="row flex-fill">
        <div class="col-lg-5 col-12 h-100">
            <div class="row h-100 bg-white">
                <div class="col-sm-12">
                    <div class="row h-40 w-100 p-5">
                    <a href="{{locale_url}}/" class="navbar-brand">
             <i class="fas fa-blog fa-3x text-danger"></i>
             <span class="display-5">{{sitename}}</span>
                          </a>
                     </div>
                     <div class="h-70 w-60 p-4">

<h1 class="text-primary display-1">{{trans('login.forget_password')|capitalize}}</h1>
            <p class="gray-600">{{trans('login.password_message')}}</p>

   {% include "backend/alert.twig" %}


    <form name="password" id="ajax-form" action="{{url}}/request-password" method="POST">
    {{ csrf() | raw }}

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-alt"></i></span>
  <input type="text" class="form-control  form-control-lg" placeholder="{{trans('login.email')}}" aria-label="{{trans('login.email')}}" aria-describedby="basic-addon1" name="email">
</div>

             <div class="form-group row">
                                    <div class="col-lg-6 col-6">
                                        <img src="{{captcha|raw}}" class="rounded" data-bs-toggle="tooltip" data-bs-placement="right" title="{{trans('login.solve_sum_message')}}!">
                                    </div>
                                    <div class="col-lg-6 col-6">
                                        <input type="text" id="captcha" class="form-control" name="captcha" placeholder="{{trans('login.solve_sum')}}..">
                                    </div>
                                </div>
    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5" id="submit-ajax">{{trans('login.request_password')|capitalize}}</button>
            </form>
            <div class="text-center mt-5 fs-4">
                <p>{{trans('login.account_already')|capitalize}}? <a href="{{locale_url}}/login" class="fw-bolder">{{trans('login.login')|capitalize}}</a></p>
                <p>{{trans('login.no_account')|capitalize}}? <a class="fw-bolder" href="{{locale_url}}/create-account">{{trans('login.create_account')}}</a></p>
            </div>


                     </div>



                </div>
            </div>
        </div>
      <div class="col-lg-7 d-none d-lg-block bg-hb-blue-dark">  </div>

    </div>
</div>
<script src="{{url}}/node_modules/jquery/dist/jquery.min.js"></script>
<script src="{{url}}/cms/js/ajax-algemeen.js"></script>
{% include "frontend/statistics.twig" %}
</body>
</html>