{% include "frontend/header.twig" %}

<div class="container">
<h1 class="pt-4 pb-4">{{trans('backend.search.search_results_for')|capitalize}} {{q}}</h1>

<div class="card mb-3">
<div class="card-body">
<p class="text-right">{{trans('backend.search.total_results')|capitalize}} <strong>{{q}}</strong> <i>{{total}}</i></p>

{% if results|length < 1 %}
          <div class="alert alert-warning text-dark">{{trans('backend.search.no_results_message',{q: q})|capitalize}}</div>
{% endif %}
{% if results|length > 0 %}
{% for result in results %}
<ul class="list-unstyled">
	<li class="text-success"> <span class="badge bg-success"><small>{{start + loop.index}}</small></span> {{result.title|default('Title')}}</li> 
	<li>{{result.description|default('Description')|raw}}</li>
	<li><a href="{{url}}{{result.url}}" target="_blank" data-bs-toggle="tooltip" title="{{trans('backend.search.visit_url')|capitalize}} {{url}}{{result.url}}">{{url}}{{result.url|raw}}</a></li>
</ul>

{% endfor %}
{% endif %}
<p>{{trans('search.execution_time')|capitalize}}: {{execution_time}} {{trans('search.powered_by')}} <a href="https://hostingbe.com/search-engine-for-website" target="_blank" data-bs-toggle="tooltip" title="Free site search engine">Site Search Engine</a></p>
	</div>
</div>

{% include "backend/pagelinks.twig" %} 
</div>
</div>



{% include "frontend/footer.twig" %}

