{% include "frontend/header.twig" %}
{% include "frontend/svg/fa-key.twig" %}
{% include "frontend/svg/fa-eye.twig" %}

<div class="container">
    <h1 class="pt-4 pb-4">{{trans('backend.change_password.change_password')|capitalize}}</h1>

        <div class="row">
     
{% include "backend/alert.twig" %}

            <div class="col-md-6 col-sm-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{trans('backend.change_password.change_password')|capitalize}}</h4>
                    </div>

                    <div class="card-body">
                          <form name="password" action="{{url}}/change-password" method="POST">

                            {{ csrf() | raw }}
                                <p>{{trans('backend.change_password.password_message')|capitalize}}
                                </p>
                                <div class="form-group row align-items-center p-2">
                                    <div class="col-lg-4 col-3">
                                        <label class="col-form-label">{{trans('backend.change_password.current_password')|capitalize}}</label>
                                    </div>
                                    <div class="col-lg-8 col-9">
                                        <input type="password" id="account-password" class="form-control" name="account-password" placeholder="{{trans('backend.change_password.change_password')|capitalize}} .." value="">
                                    </div>
                                </div>                                
                                <div class="form-group row align-items-center p-2">
                                    <div class="col-lg-4 col-3">
                                        <label class="col-form-label">{{trans('backend.change_password.password')|capitalize}}</label>
                                    </div>
                                    <div class="col-lg-8 col-9">
                                        <div class="input-group">
                                        <input type="password" id="account-password-new" class="form-control" name="account-password-new" placeholder="{{trans('backend.change_password.password_text')|capitalize}} .." value=""><button class="btn btn-primary generate" type="button" data-bs-toggle="tooltip" title="{{ trans('backend.change_password.generate_password') | capitalize }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" class="text-light" fill="currentColor"><use href="#fa-key"></svg></button><button class="btn btn-primary view" type="button" data-bs-toggle="tooltip" title="{{ trans('backend.change_password.view_password') | capitalize }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" class="text-light" fill="currentColor"><use href="#fa-eye"></svg></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center p-2">
                                    <div class="col-lg-4 col-3">
                                        <label class="col-form-label">{{trans('backend.change_password.password')|capitalize}} ({{trans('backend.change_password.again')}})</label>
                                    </div>
                                    <div class="col-lg-8 col-9 p-2">
                                        <input type="password" id="account-password-confirm" class="form-control" name="account-password-confirm" placeholder="{{trans('backend.change_password.password_text')|capitalize}} {{trans('backend.change_password.again')}} .." value="">
                                    </div>
                            </div>
                            <button type="submit" class="btn btn-primary">{{trans('backend.change_password.change_password')|capitalize}}</button>
                            </form>
                          </div>
                    </div>
                </div>

            <div class="col-md-6 col-sm-12 mb-3">
                <div class="card">
                                  <div class="card-header"><h4 class="card-title">{{trans('backend.change_password.2factor_authentication')|capitalize}}</h4></div>
                                  <div class="card-body">
                                   <p>{{ trans('backend.change_password.message1') | raw }}</p>
                                   <p>{{ trans('backend.change_password.message2') | raw  }}</p>
              <p><a href="{{url}}/activate-2fa" class="btn btn-primary btn-sm">{{ trans('backend.change_password.activate-2fa') | capitalize }}</a></p>
                                  </div>
              
                      </div>
                  </div>

                </div>
        </div>
</div>

{% include "frontend/footer.twig" %}