<html>
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<style>
		body,td{font-size:10pt;font-family:Arial;line-height:22px;}
	</style>
</head>
<body bgcolor="#E3E1D2" style="height: 100%;">
<table width="700" align="center">
<tr>
<td>&nbsp;</td>
<td width="700" align="center">

<div style="max-width:700px; min-width:320px;">
<div style="background-color:rgb(35,49,71); border: 1px solid rgb(35,49,71); text-align:left;color: #FFFFFF; height: 80px; padding: 30px; font-size: 50px;">{{sitename}}</div>
<div style="background-color:white; border:2px solid #313f64;text-align:left;padding:15px;">
<div>
 <p>Dear {{naam}},</p>

<p>Your registration is complete, thank you.</p>

<p>To get started quickly with Simple CMS view the <a href="https://github.com/HostingBE/simple-cms/wiki">wiki</a>. <br /><br />

<p>You can now log in your account page of {{sitename}} with the details below:</p>

<h1>What todo now?</h1>

<h2>Upload an icon</h2>
<p><a href="{{url}}/login">Login to {{sitename}}</a> and click on your name a menu will appear, click on &quot;my account&quot; and upload your own icon. This way we get to know each other better.</p>

<h2>Ask questions on the forum</h2>
<p>If you have questions about Simple CMS, ask them on the <a href="{{url}}/forum">forum</a>, you will receive advice from the Simple CMS creators! If you want to answer questions yourself on the forum, come by and share your knowledge.</p>

<h2>Login as Administrator</h2>
The first account which is created is an administrator, click on you name and select manager menu. View all settings and change the settings which are needed. Start creating your first pages and blogs.</p> 

<p>&nbsp;</p>
</div>
		{{footer|nl2br}}
<div>
</div>
</div>
</td>
</tr>
</table>
<p style="font-family: 'Arial', Helvetica, Arial, sans-serif;;font-size: 16px; color: rgb(35,49,71);padding: 0px 0px;" bgcolor="#281875" align="center">Having trouble reading this e-mail? <a href="{{url}}/view-email/{{code}}/{{email_hash}}/">View online!</a></p>
</body>
</html>