<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <style>
        body,td{font-size:10pt;font-family:Arial;line-height:22px;}
    </style>
</head>
<body bgcolor="#E3E1D2" style="height: 100%;">
<table width="700" align="center">
<tr>
<td>&nbsp;</td>
<td width="700" align="center">

<div style="max-width:700px; min-width:320px;">
<div style="background-color:rgb(35,49,71); border: 1px solid rgb(35,49,71); text-align:left;color: #FFFFFF; height: 80px; padding: 30px; font-size: 50px;">{{sitename}}</div>
<div style="background-color:white; border:2px solid #313f64;text-align:left;padding:15px;">

    <div>

   <p style="font-family: 'Open Sans', Helvetica, Arial, sans-serif;font-size: 18px;font-weight: normal; color: #252525; line-height: 1.5; margin: 10px; text-align: left; ">
                           Dear {{notify.first_name}} {{notify.last_name}}, <br><br>
                                   
               their are changes on a topic you have created with title <strong>{{notify.title}}</strong>, click on the button below to view the changes!

</p>
</div>
        {{footer|nl2br}}
<div>

</div>

</div>
</td>
</tr>
</table>
</body>
</html>




